/.venv/
/.env
target/
dbt_packages/
configs/dbt/.user.yml
configs/dbt/.user.yaml
logs/
__pycache__/.streamlit/
__pycache__/
**/*.duckdb
!data/demo_warehouse.duckdb
.vscode
.ruff_cache

# macOS Finder files
.DS_Store
**/.DS_Store
dbt_internal_packages/
